<div class="col-md-3 card_content">
    <div class="card m-2">
        <div class="card-header">
        {{'info'|translate}}
        </div>
        <div class="card-body">
            <div class="">
                <img src="../../assets/avatar/user.png" class="rounded" alt="...">
            </div>
            <div>
                <h5>{{card.description|translate}}</h5>
            </div>
            <div>
                <h5>{{card.value ? card.value : ''|translate}}</h5>
                
            </div>
            <div>
               <h5>{{card.label|translate}}</h5>
            </div>
        </div>
    </div>