.navbar-toggler {
  color: #9299a1;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.navbar-color {
  background-color: #1e2936 !important;
}
.arrow-color {
  color: #ffffff;
  cursor: pointer;
  position: relative;
  left: 6rem;
}
.subHeader  li button, .subHeader  li a {
  color: #9299a1;

  i {
    padding-right: 0.5rem;
  }
}
.subHeader li a:hover {
  color: #ffffff;
}
.btn-dropdown {
  color: #9299a1;
}
.subHeader .subHeader-dropdown-menu {
  left: unset;
  right: 0;
}
.subHeader-dropdown-menu li button img {
  width: 1.5rem;
}