<!-- example 1 - using absolute position for center -->
<nav class="navbar navbar-expand-md navbar-color bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand abs" href="#">Navbar 1</a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapseNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <i class="fa-solid fa-arrow-left arrow-color" (click)="showSider()"></i>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto subHeader">
        <li class="nav-item">
          <a class="nav-link" href="" data-bs-target="#myModal" data-bs-toggle="modal">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-bs-target="#myModal" data-bs-toggle="modal">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-bs-target="#myModal" data-bs-toggle="modal">About</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
            <label >username</label>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div> -->
        </li>
        <li class="nav-item ">
          <button class="btn btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
            <label >username</label>
          </button>
          <ul class="dropdown-menu subHeader-dropdown-menu">
            <li><button class="dropdown-item" type="button">
              <i class="fa-solid fa-circle-user"></i>
              <label for="">Profile</label>
            </button></li>
            <li><button class="dropdown-item" type="button">
              <i class="fa-solid fa-gear"></i>
              <label for="">Setting</label>
            </button></li>
            <li><button class="dropdown-item" type="button">
              <i class="fa-solid fa-right-to-bracket"></i>
              <label for="">Logout</label>
            </button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>